* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general css start  */

:root {
    --white: #fff;
    --black: #000;
    --acc-color: #17479E;
    --border-color: #dcdcdc;
    --light-grey: #AAA;
    --active-bg: #C7DBFF;
    --search-bg: #fcfcfc;
    --btn-red: #E73725;
    --font-color: #505050;
    --light-bg: #f8f8f8;
    --save-btn: #077838;
}

.common-fonts {
    color: #000;
    font-family: DM Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: -0.02563rem;
}

/* general css start ends */

/* landing page top css starts */

.landing-page-container {
    background-color: var(--white);
}


/* landing page top css ends */


/* desktop page additional css starts here */

.desktop-img-container {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 2rem;
    margin-top: 0.5rem;
}

.desktop-change-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.desktop-player {
    width: 4.64838rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-bottom: 0.5rem;

}

.desktop-note {
    border: 1px solid var(--border-color);
    padding: 0.44rem 0.6rem;
    display: flex;
    justify-content: start;
    align-items: center;
    width: max-content;

}

.desktop-change-text {
    color: var(--font-color);
    margin-right: 0.5rem;
    cursor: pointer;
}

/* bascic info section starts here  */
.desktop-basic-info {
    margin-top: 2rem;
    margin-left: 2rem;
}

.desktop-basic-text {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 0.94rem;
}

.desktop-cards {
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 1rem 1rem;
    padding: 0.6rem;
    cursor: pointer;
}

.desktop-user-icon {
    margin-right: 0.88rem;
}

.desktop-input-section {
    width: 100%;
}

.desktop-input-label {
    color: var(--light-grey);
    font-size: 0.75rem;
}

.desktop-input {
    font-size: 1rem;
    outline: none;
    border: none;
    width: 100%;
    background-color:var(--white);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* bascic info section ends here  */

/* trophy section starts here  */

.desktop-trophy {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.desktop-trophy-heading {
    font-size: 1.125rem;
    font-weight: 700;
}

.desktop-add-btn{
    border: 1px solid var(--btn-red);
    background-color: var(--white);
    color: var(--btn-red);
    cursor: pointer;
    padding: 0.62rem 0.94rem;
    text-align: center;
}

.desktop-league-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    border:1px solid var(--border-color);
    padding: 0.94rem;
    margin-bottom: 1rem;
}

.desktop-league-open{
    background-color: var(--light-bg);
    margin-bottom: 0;
}

.desktop-league{
    display: flex;
    justify-content: start;
    align-items: center;
}

.desktop-league-input {
    outline: none;
    border: none;
    width: 100%;
    background-color: none;
}

.desktop-league-text{
    margin-left: 0.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.desktop-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop-league-select {
    padding: 0;
    appearance: none; /* Remove default styling */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    width: 100%;
    outline: none;
    cursor: pointer;
    padding-left: 0.88rem;
    background:none;
}

.desktop-sports{
    padding-left: 0.88rem;
}

.desktop-dropdown{
   background-color: var(--white);
   
}

.desktop-league-wrapper{
    border: 1px solid var(--border-color);
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 0;
    margin-bottom:1rem;
    padding-top: 1rem;
}
/* trophy section ends here  */

.desktop-about{
    margin-left: 2rem;
    margin-right: 2rem;
    border:1px solid var(--border-color);
    padding: 0.94rem;
}

.desktop-about-text{
    text-align: justify;
    color: var(--font-text);
}

.desktop-carrier{
    margin-bottom: 0;
    margin-bottom: 1.25rem;
}

.desktop-international{
    margin-bottom: 1.25rem;
    margin-left: 2rem;
}

.desktop-carrier-text{
    font-size: 1rem;
    font-weight: 600;
}

.desktop-gallery{
    margin-left: 2rem;

}

.desktop-gallery-text{
    margin-top: 2rem;
}

.desktop-gallery-btn{
    margin-top: 0;
    margin-top:1rem;
}

.desktop-image-scroll-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16.5rem, 1fr));
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 1rem;
}

.desktop-image-row {
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop-ground {
    width: 17.5rem;
    height: 8.5rem;
    border-radius: 0.3125rem;
    display: block;
}

.desktop-img-delete{
    padding:0.5rem;
    background-color: var(--btn-red);
    border-radius: 50%;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.desktop-img-video{
    padding:0.5rem;
    background-color: var(--acc-color);
    border-radius: 50%;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    top:80%;
    left:80%;
    transform: translate(-50%, -50%);
}

.desktop-delete-play{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.desktop-vedio-delete{
    padding:0.5rem;
    background-color: var(--btn-red);
    border-radius: 50%;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;

}

.desktop-vedio-play{
    padding:0.5rem;
    background-color: var(--acc-color);
    border-radius: 50%;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;

}

.desktop-vedio-section{
    margin-top: 2rem;
}


/* button section  */

.desktop-bottom-btn{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.desktop-cancel{
border:1px solid var(--btn-red);
padding:0.4rem 1.5rem;
background-color: var(--white);
color:var(--btn-red);
margin-right: 1rem;
cursor:pointer;
}

.desktop-cancel:hover, .desktop-add-btn:hover{
    color:var(--white);
    background-color: var(--btn-red);
    transition: all 0.5s ease-in-out;
}

.desktop-save{
     border: 1px solid transparent;
     color:var(--white);
     padding:0.4rem 1.5rem;
     width:6rem;
     background-color: var(--save-btn);
     cursor: pointer;
}

.desktop-save:hover{
    color:var(--save-btn);
    border:1px solid var(--save-btn);
    background-color: var(--white);
    transition: all 0.5s ease-in-out;
}
/* button section ends */






/* desktop page additional css ends here */

/* additional css for desktop   */

.desktop-basic-information{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.desktop-drop{
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 1rem;
}

.desktop-player-data{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 1rem;
    padding-right: 1rem;

}
.desktop-player-position{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 1rem;
    padding-right: 1rem;

}

.desktop-gap{
    margin-bottom: 2rem;
}

/* additional css for desktop  ends */